<!-- xml -->
<launch>   

  <arg name="robot_name"/>  
  <arg name="tf_robot"/> 
  
  <!--- Run AMCL -->
  <include file="$(find multi_robot)/launch/includes/amcl_multirobot.launch.xml">
    <arg name="use_map_topic"             value="true"/>
    <arg name="global_frame_id" value="/map"/>
    <arg name="odom_frame_id"   value="$(arg tf_robot)/odom"/>
    <arg name="base_frame_id"   value="$(arg tf_robot)/base_footprint"/>
    
  </include>
  


  <include file="$(find multi_robot)/launch/includes/move_base_multirobot.launch.xml">
    
  </include>

<!-- 
  <include file="$(find multi_robot)/launch/includes/move_base_multirobot_collvoid.launch.xml">
    
  </include>-->

  
</launch>